@model IEnumerable<TrabajoFinalProem_GalanFlorencia.Models.Cliente>

<!--PALETA :  https://colorhunt.co/palette/f9e4d4d67d3e9c0f48470d21    -->
<!--TODO HTML-->
<p class="text-center"> Mira los Clientes</p>

<!--NOTIFICACION-->
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<!--FIN DE NOTIFICACION-->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2>Lista de clientes</h2>
            </div>
            <div class="col-sm-6">
                <a asp-action="Crear" asp-controller="Cliente" class="btn btn-primary">   crear nuevo cliente </a>
            </div>
        </div>
         <div class="card-body">
             <form method="post"> <!--Para que el post pueda borrar-->
            @if (Model != null ) //Model.Count() > 0
            {
                <br /><br />
                <table class="table table-striped border">
                    <tr class="table-secundary">  <!--USO LA LISTA DE SU FUNCIONALIDAD--> 
                        <th>@Html.DisplayNameFor(m=>m.codigo)</th>
                        <th>@Html.DisplayNameFor(m=>m.nombre)</th>
                        <th>@Html.DisplayNameFor(m=>m.direccion)</th>
                        <th>@Html.DisplayNameFor(m=>m.extraSaldo)</th> 
                      
                        <th>Acciones</th>
                    </tr>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m=>item.codigo)</td>
                            <td>@Html.DisplayFor(m=>item.nombre)</td>
                            <td>@Html.DisplayFor(m=>item.direccion)</td>
                            <td>@Html.DisplayFor(m=>item.extraSaldo)</td>
                             
                            <td>
                                <a asp-route-codigo="@item.codigo" asp-action="Editar"  class="btn-primary btn-success btn-sm"><i class="bi bi-pencil-square"></i></a>
                                <a asp-route-codigo="@item.codigo" asp-action="Borrar"  class="btn-danger btn-sm"><i class="bi bi-trash"></i> </a>

                                <!--
                                  aspaction en este caso llama a los Get
                                -->
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No hay resgistros </p>
            }
            </form>
        </div>
    </div>
    </div>

